<!DOCTYPE html>
<html>
  <head>
    <title>Homebrewd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="https://i.imgur.com/buIm2kh.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://i.imgur.com/rW7sy9x.png">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
